
      <!--NAVBAR SECTION END-->
       <section class="header-sec" id="home" >
           <div class="overlay">
 <div class="container">
           <div class="row text-center" >
           
               <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
               
                <h2 data-scroll-reveal="enter from the bottom after 0.1s">
                    <strong>
                   Cuidamos tu boca con el profesionalismo que te mereces
                        </strong>
                        </h2>
                                   
                     
                  <br />
                   
            </div>
                
               </div>
                </div>
           </div>
           
       </section>
       <!--HEADER SECTION END-->
   <section class="features" id="features">
		 <div class="container">
		           <div class="row text-center" >
		           
		               <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		               
		                <h3 data-scroll-reveal="enter from the bottom after 0.1s">
		                    <strong>
		                   Conocenos
		                        </strong>
		                        </h3>
		                
		            </div>
		                
		            </div>

		                <div class="row text-center just-pad" >
		           
		              <div class="col-lg-4 col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.2s" >
		                        <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
		                   <h4 ><strong> Personal Capacitado </strong></h4>
		                  <p>
		                      Contamos con el personal adecuado para cuidar de tu sonrisa de la forma 
		                      que te mereces.
		                  </p>
		                    </div>
		               
		               <div class="col-lg-4 col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.8s" >
			               <i class="fa fa-hospital-o fa-5x" aria-hidden="true"></i>	               
		                   <h4 ><strong> Instalaciones de Calidad </strong></h4>
		                  <p>
		                      Visitanos y compruebalo, te haremos disfrutar tu estancia.
		                  </p>
		                    </div>
		                     <div class="col-lg-4 col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 1.4s" >
 							<i class="fa fa-medkit fa-5x" aria-hidden="true"></i>
		                          <h4 ><strong> Material de calidad </strong></h4>
		                  <p>
		                      Con nosotros tu boca estará bien cuidada, nos aseguramos de utilizar 
		                      instrumentos de calidad que te asegurarán una grata experiencia.
		                  </p>
		                    </div>
		            </div>
		               </div>
           
       </section>
    <!--FEATURES SECTION END-->
     <section class="testi-sec" >
           <div class="overlay">
 <div class="container">
           <div class="row text-center" >
           
               <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
               
                <h3 data-scroll-reveal="enter from the bottom after 0.1s">
                    <strong>
                   Que dicen nuestros clientes
                        </strong>
                        </h3>
                                   
                   <h4 data-scroll-reveal="enter from the bottom after 0.8s">
               <i class="fa fa-quote-left "></i> Comentario ejemplo, Comentario ejemplo,Comentario ejemplo,Comentario ejemplo,Comentario ejemplo,Comentario ejemplo
                         <i class="fa fa-quote-right "></i>
                       <br />
                       <span class="pull-right"><strong>-Nombre Paciente</strong></span>
                       </h4>
                     
            </div>
                
               </div>
                </div>
           </div>
           
       </section>

<section class="price-sec text-center "  id="pricing">
                  

           
               <div class="col-lg-6  col-md-6 col-sm-6 single-price" data-scroll-reveal="enter from the left after 0.2s">
               
               <span ><i class="fa fa-dollar"></i></span>
                     
                  <h1>CONTADO</h1>
     
                  
     
              
              
            </div>
                <div class="col-lg-6  col-md-6 col-sm-6 multi-price" data-scroll-reveal="enter from the right after 0.2s">
               
                
                      <span > <i class="fa fa-dollar"></i></span>
                     <h1>MENSUAL</h1>
                  
     
              
              
            </div>
                  
          
       </section>
    <!--PRICING SECTION END-->
    <section class="contact" id="contact" >
            <div class="container">
                 <div class="row text-center " >
           
               <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
               
                <h3 data-scroll-reveal="enter from the bottom after 0.1s">
                        </h3>
                
            </div>
                
               </div>
        
             <div class="row text-center">
                 <div class="col-lg-6 col-md-6 col-sm-6" data-scroll-reveal="enter from the right after 0.2s">
                    <strong>Direccion :</strong>
                        <p>
                         Calle N°, Colonia, C.P.
                        <br />
                         Cd. Victoria
                            <br />
                            email: consultorio@consultorio.com

                        </p>
                        </div>

            </div>
            
            </div>
          </section>
