<div class="top-formulario row center-xs text-center">
  <div class="col-xs-8 col-md-8 col-md-offset-2">
  <h1>Nuevo pago</h1>

<%= render 'form' %>

<%= link_to 'Volver', appointment_payments_path %>
</div>
</div>