<div class="top-formulario row center-xs text-center">
  <div class="col-xs-8 col-md-8 col-md-offset-2">
<h1>Editar Procedure</h1>

<%= render 'form' %>

<%= link_to 'Show', @procedure %> |
<%= link_to 'Back', procedures_path %>
</div>
</div>