<div class="top-formulario row center-xs text-center">
  <div class="col-xs-8 col-md-8 col-md-offset-2">
<h1>Editar Tratamiento de la cita</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', appointment_appointments_procedure_path(@appointment,@appointments_procedure) %> |
<%= link_to 'Volver', appointment_appointments_procedures_path %>
</div>
</div>