<div class="top-formulario row center-xs text-center">
  <div class="col-xs-8 col-md-8 col-md-offset-2">
<h1>Nuevo Tratamiento en la cita</h1>

<%= render 'form' %>

<%= link_to 'Volver', appointment_appointments_procedures_path %>
</div>
</div>